
@{
    ViewBag.Title = "Bilgilendirme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 <hr />
<center>
    <h1>  <span style="color:red">@ViewBag.mesaj</span></h1><br />
    <img src="@Url.Content("~/Content/images/error.jpg")" alt="Çıkar" />
</center>


