@{
    ViewBag.Title = "Http403";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<center>
    <h1>  <span style="color:red">@ViewBag.message</span></h1><br />
    <img src="@Url.Content("~/Content/images/error.jpg")" alt="Çıkar" />
</center>

