@model FilmDukkaniMvc.Paketler

@{
    ViewBag.Title = "Paket Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>@Model.PaketAdi silmek istediğinizden eminmisiniz.?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="(Evet) Sil" class="btn btn-default sil" /> <br /><br />
            @Html.ActionLink("Geri Dön", "PaketListesi")
        </div>
    }
</div>
